<a href="https://colab.research.google.com/github/jhasweta989/E-store/blob/master/Rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import Dataset

In [2]:
data= pd.read_csv("/content/drive/MyDrive/rating/rating_training.csv")

In [3]:
data.head()

   Record Rating  Years_Experience  Test_Score  Years_Education
0       1      A                14          10               10
1       2      B                12           5                9
2       3      C                 7           3                8
3       4      A                13           7               10
4       5      B                12           6               10

In [4]:
data.isnull().sum()

Record              0
Rating              0
Years_Experience    0
Test_Score          0
Years_Education     0
dtype: int64

In [5]:
data.dtypes

Record               int64
Rating              object
Years_Experience     int64
Test_Score           int64
Years_Education      int64
dtype: object

In [6]:
data.Rating.unique()

array(['A', 'B', 'C'], dtype=object)

In [7]:
data1= data.copy()

In [8]:
data1.head()

   Record Rating  Years_Experience  Test_Score  Years_Education
0       1      A                14          10               10
1       2      B                12           5                9
2       3      C                 7           3                8
3       4      A                13           7               10
4       5      B                12           6               10

In [9]:
def change(x):
  if x=='A':
    return 1
  elif x=='B':
    return 2
  else:
    return 3

In [12]:
change("C")

3

In [13]:
data1['Rating']= data['Rating'].apply(lambda x: change(x))

In [14]:
data1.head()

   Record  Rating  Years_Experience  Test_Score  Years_Education
0       1       1                14          10               10
1       2       2                12           5                9
2       3       3                 7           3                8
3       4       1                13           7               10
4       5       2                12           6               10

In [15]:
data1.dtypes

Record              int64
Rating              int64
Years_Experience    int64
Test_Score          int64
Years_Education     int64
dtype: object

In [16]:
X= data1.drop(['Record','Rating'], axis='columns')

In [17]:
y=data1['Rating']

In [18]:
data1.shape

(90000, 5)

In [19]:
X.shape

(90000, 3)

In [20]:
y.shape

(90000,)

Split Dataset into Train and test

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [22]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

Classification tree

In [23]:
clf = DecisionTreeClassifier()

In [24]:
model = clf.fit(x_train,y_train)

In [25]:
y_pred = model.predict(x_test)

In [27]:
from sklearn import metrics

In [28]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9463333333333334

for validation

In [29]:
val= pd.read_csv("/content/drive/MyDrive/rating/rating_valid.csv")

In [30]:
val.isnull().sum()

Record              0
Rating              0
Years_Experience    0
Test_Score          0
Years_Education     0
dtype: int64

In [32]:
val1= val.copy()

In [33]:
val1['Rating']= val['Rating'].apply(lambda x: change(x))

In [35]:
val1.head()

   Record  Rating  Years_Experience  Test_Score  Years_Education
0       1       1                13           7                9
1       2       2                11           7                9
2       3       3                 9           4                8
3       4       1                12           9                8
4       5       2                12           6               10

In [36]:
val1.shape

(60000, 5)

In [37]:
x_val= data1.drop(['Record','Rating'], axis='columns')

In [38]:
y_val=data1['Rating']

In [39]:
x_val.shape

(90000, 3)

In [40]:
y_val.shape

(90000,)

In [41]:
y_predict = model.predict(x_val)

Validation Accuracy with Classification tree

In [42]:
print("Accuracy:",metrics.accuracy_score(y_val, y_predict))

Accuracy: 0.9479555555555556

Logit model

In [48]:
from sklearn.linear_model import LogisticRegression

In [49]:
logreg = LogisticRegression()

In [51]:
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
y_pred=logreg.predict(x_test)

In [53]:

cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[8386,  632,    0],
       [ 704, 8091,   59],
       [   0,   60, 9068]])

In [58]:
y_val

0        1
1        2
2        3
3        1
4        2
        ..
89995    2
89996    3
89997    1
89998    2
89999    3
Name: Rating, Length: 90000, dtype: int64

In [59]:
y_predict

array([1, 2, 3, ..., 1, 2, 3])

In [54]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9461111111111111

In [55]:
y_predict = logreg.predict(x_val)

Validation Accuracy with Logit Model

In [56]:
print("Accuracy:",metrics.accuracy_score(y_val, y_predict))

Accuracy: 0.9478222222222222

In [57]:
X.head()

   Years_Experience  Test_Score  Years_Education
0                14          10               10
1                12           5                9
2                 7           3                8
3                13           7               10
4                12           6               10

In [66]:
def rating(Experience, Score, Education):
  x= np.zeros(len(X.columns))
  x[0]=Experience
  x[1]=Score
  x[2]=Education
  cart= model.predict([x])[0]
  logit= logreg.predict([x])[0]
  return cart, logit

In [ ]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(x.columns==location)[0][0]

    X = np.zeros(len(x.columns))
    X[0] = sqft
    X[1] = bath
    X[2] = bhk
    if loc_index >= 0:
        X[loc_index] = 1

    return lr_cfl.predict([X])[0]

For Ajay D.

In [67]:
cart, logit= rating(10,7,10)

In [70]:
if cart== 1:
  print(" Classification Tree prediction is A")
elif cart==2:
  print(" Classification Tree prediction is B")
else:
  print(" Classification Tree prediction is C")

 Classification Tree prediction is B

In [72]:
if logit== 1:
  print(" Logit Model prediction is A")
elif logit==2:
  print(" Logit Model prediction is B")
else:
  print(" Logit Model prediction is C")

 Logit Model prediction is B

for Kim N.

In [73]:
cart, logit= rating(15,5,9)

In [74]:
if cart== 1:
  print(" Classification Tree prediction is A")
elif cart==2:
  print(" Classification Tree prediction is B")
else:
  print(" Classification Tree prediction is C")

 Classification Tree prediction is B

In [75]:
if logit== 1:
  print(" Logit Model prediction is A")
elif logit==2:
  print(" Logit Model prediction is B")
else:
  print(" Logit Model prediction is C")

 Logit Model prediction is B

For Ana A.

In [82]:
cart, logit= rating(6,9,11)

In [83]:
if cart== 1:
  print(" Classification Tree prediction is A")
elif cart==2:
  print(" Classification Tree prediction is B")
else:
  print(" Classification Tree prediction is C")

 Classification Tree prediction is B

In [84]:
if logit== 1:
  print(" Logit Model prediction is A")
elif logit==2:
  print(" Logit Model prediction is B")
else:
  print(" Logit Model prediction is C")

 Logit Model prediction is B